$fc1: #232323;
$fc2: #fff;
$fc3: #000;
 
$bodybg1: #f8f5fd;
$border-c1: #eaeaea;
//  室内舒适度等级颜色
$off-line-c1: #a5aab2;
$iaqi-level1-c1: #76e750;
$iaqi-level2-c1: #bce32a;
$iaqi-level3-c1: #fedf02;
$iaqi-level4-c1: #f77727;
$iaqi-level5-c1: #f93047;

$pd16: 16px;
 
