.footer-layout {
  width: 100%;
  height: 360px;
  // background: #1a1f2d;
  background: rgba(255, 255, 255, 0.1);
  font-size: 24px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  padding-top: 68px;
  float: left;
}